@using TyskaForSmaUpptackare.Data
@model TyskaForSmaUpptackare.Data.Product

@{
    ViewData["Title"] = "Ta bort produkt";
}

<section class="container text-center p-5">
    <h1>@ViewData["Title"]</h1>
    <section class="row">
        <h3 class="text-danger">Är du säker på att du vill ta bort produkten?</h3>
    </section>
    <section>
        <h4>@Model.Name</h4>
        <p>@Model.Description</p>
        <p>Pris: @Model.Price.ToString("C")</p>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
        }
    </section>
    <form asp-action="Delete" method="post">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ta bort
        </button>
        <button asp-action="Index" class="btn btn-secondary">Avbryt</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5 text-danger" id="exampleModalLabel">Är du helt säker?</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Denna produkt tas bort permanent...</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" asp-for="ProductId" />
                        <button type="submit" class="btn btn-danger">Ta bort</button>
                        <button asp-action="Index" class="btn btn-secondary">Avbryt</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>





<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>