@using TyskaForSmaUpptackare.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Produkter";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    @if (User.IsInRole("Administrators"))
    {
        <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Lägg till</a>
    }
    @{
        var message = TempData["Message"];
        if(message != null)
        {
            TempData.Remove("Message");
        }
    }
    @if (message != null)
    {
        <div class="alert alert-info">
            @message
        </div>
    }
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text"><strong>Pris:</strong> @product.Price.ToString("C")</p>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-primary me-2">Visa</a>
                        @if (User.IsInRole("Administrators"))
                        {
                            <a href="@Url.Action("Edit", "Product", new { id = product.ProductId })" class="btn btn-primary me-2">Ändra</a>
                            <a href="@Url.Action("Delete", "Product", new { id = product.ProductId})" class="btn btn-danger">Ta bort</a>
                        }
                    </div>
                </div>
            </div>
    
        }
    </div>


</div>

