@using TyskaForSmaUpptackare.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Produkter";
}

<div class="container">
    <h1 class="mt-5 mb-5">@ViewData["Title"]</h1>
    @if (User.IsInRole("Administrators"))
    {
        <div class="mb-5">
            <a href="@Url.Action("Create", "Produkt")" class="btn btn-primary">Lägg till</a>
        </div>
    }
    @{
        var message = TempData["Message"];
        if(message != null)
        {
            TempData.Remove("Message");
        }
    }
    @if (message != null)
    {
        <div class="alert alert-info">
            @message
        </div>
    }
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text"><strong>Pris:</strong> @product.Price.ToString("C")</p>
                        <a asp-controller="Produkt" asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-primary me-2">Visa</a>
                        <a asp-controller="Produkt" asp-action="Explore" asp-route-id="@product.ProductId" class="btn btn-primary me-2">Upptäck</a>
                        @if (User.IsInRole("Administrators"))
                        {
                            <a href="@Url.Action("Edit", "Produkt", new { id = product.ProductId })" class="btn btn-primary me-2">Ändra</a>
                            <a href="@Url.Action("Delete", "Produkt", new { id = product.ProductId})" class="btn btn-danger me-2 text-black" style="border: 2px black solid; border-radius: 7px;">Ta bort</a>
                        }
                    </div>
                </div>
            </div>
    
        }
    </div>

    <section class="container-lg secondary-bg p-5">
        <h2 class="pb-3">Testa produkter gratis</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div>
                    <a aria-label="Navigera till 1 2 3" asp-area="" asp-controller="Testa" asp-action="EttTvaTre"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror ett två tre" /></a>
                    <div>
                        <h5 class="text-center">Siffror 1 2 3</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div>
                    <a aria-label="Navigera till 10 20 30" asp-area="" asp-controller="Testa" asp-action="Tiotal"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror tiotal" /></a>
                    <div>
                        <h5 class="text-center">Siffror tiotal</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div>
                    <a aria-label="Navigera till 100 200 300" asp-area="" asp-controller="Testa" asp-action="Hundratal"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror hundratal" /></a>
                    <div>
                        <h5 class="text-center">Siffror hundratal</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div>
                    <a aria-label="Navigera till abc" asp-area="" asp-controller="Testa" asp-action="Abc"><img src="~/img/tfsu-abcs.webp" class="card-img-top" alt="Lär dig abc" /></a>
                    <div>
                        <h5 class="text-center">Lär dig abc</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div>
                    <a aria-label="Navigera till djur" asp-area="" asp-controller="Testa" asp-action="Djur"><img src="~/img/tfsu-djurgrid.webp" class="card-img-top" alt="Djur" /></a>
                    <div>
                        <h5 class="text-center">Djuren och deras ljud</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

