@model IEnumerable<TyskaForSmaUpptackare.Models.Abc>
@{
    ViewData["Title"] = "Lär dig tyska alfabetet med uttal";
}

<section class="container mb-5">
    <h1 class="mt-5">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <img class="img-fluid" src="/img/tfsu-abcs.webp" alt="Klicka på djuren" />
        </div>
        <div class="col-md-5 pt-3 pt-md-0">
            <p>
                Välkommen till vår interaktiva övning där du får lära dig det tyska alfabetet och dess korrekta uttal. I denna sektion visas alla bokstäver, var och en med ett medföljande ljudklipp som demonstrerar hur bokstaven ska uttalas.
            </p>
            <p>
                Syftet med övningen är att ge dig en grundlig introduktion till de tyska bokstäverna och hjälpa dig att känna igen och memorera deras uttal. Ta dig tid att observera varje bokstav och lyssna noggrant på ljudklippet. Upprepa gärna bokstäverna högt för att stärka ditt uttal.
            </p>
            <p>
                Övningen är utformad för att vara både lärorik och engagerande. Genom att kombinera visuell och auditiv inlärning får du en bättre förståelse för alfabetets struktur och uttal, vilket är en viktig del i att bemästra språket.
            </p>
            <p>
                Vi rekommenderar att du övar regelbundet, kanske genom att stänga av ljudet och försöka minnas hur varje bokstav låter. På så sätt förbättrar du inte bara din uttalsförmåga utan även din förmåga att snabbt känna igen och använda bokstäverna i praktiska sammanhang.
            </p>
        </div>
    </div>
    </section>
    <section class="container">
    <h2>Klicka på en bokstav för att lyssna på uttalet</h2>
    <div class="row g-5 mt-5 justify-content-center">
    @foreach (var letter in Model)
    {
        <div class="col-3 col-md-1 alfabet pt-4" onclick="playSound('@letter.Name')" aria-label="@letter.Name , klicka för att lyssna på tyskt uttal">
            <p class="text-center">@letter.Name</p>
            <audio id="@letter.Name" src="@letter.AudioUrl" preload="auto"></audio>
        </div>
    }
    </div>
</section>
<script>
    function playSound(id) {
        const audio = document.getElementById(id);
        if (audio) {
            audio.currentTime = 0;
            audio.play();
        }
    }
</script>
