@model IEnumerable<TyskaForSmaUpptackare.Models.NumberOneTwo>
@{
    ViewData["Title"] = "Lär dig tyska alfabetet med uttal";
}

<section class="container mb-5">
    <h1 class="mt-5">@ViewData["Title"]</h1>
    <p class="text-center">Klicka på bokstäverna</p>
    <div class="row g-5 mt-5 justify-content-center">
        @foreach (var number in Model)
        {
            <div class="col-3 col-md-1 alfabet pt-4" onclick="playSound('@number.Name')" aria-label="@number.Name , klicka för att lyssna på tyskt uttal">
                <p class="text-center">@number.Name</p>
                <audio id="@number.Name" src="@number.AudioUrl" preload="auto"></audio>
            </div>
        }
    </div>
</section>
<script>
    function playSound(id) {
        const audio = document.getElementById(id);
        if (audio) {
            audio.currentTime = 0;
            audio.play();
        }
    }
</script>
