@model TyskaForSmaUpptackare.ViewModel.CartViewModel

@{
    ViewData["Title"] = "Din Kundvagn";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    @{
        var message = TempData["Message"];
        if (message != null)
        {
            TempData.Remove("Message"); 
        }
    }

    @if (message != null)
    {
        <div class="alert alert-info">
            @message
        </div>
    }
    @if (Model.Items != null && Model.Items.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>@((item.Price * item.Quantity).ToString("C"))</td>
                        <td>
                            <form asp-controller="Kundvagn" asp-action="RemoveFromCart" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Kundvagn")" />
                                <button type="submit" class="btn btn-danger">Ta bort</button>
                            </form>
                            <form asp-controller="Payment" asp-action="CreateCheckoutSession" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-success">Gå till betalning</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Din kundvagn är tom.</p>
    }

</div>
