@using TyskaForSmaUpptackare.Models;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3 d-none d-md-block" style="
    background-image: url('/img/tfsu-hero-desktop.PNG');
    height: 400px;  
    background-repeat: no-repeat;
    background-size: cover;
  ">
    <div class="mask">
        <div class="d-flex justify-content-start align-items-end h-100">
            <div class="text-dark text-start">
                <h1 class="mb-3 text-white">Tyska för små upptäckare</h1>
                <h4 class="mb-3 text-white">Lär dig tyska</h4>
                <a class="btn btn-primary text-black mx-1" aria-label="Navigera till produktöversikt" asp-area="" asp-controller="Produkt" asp-action="Index">Kom igång</a>
            </div>
        </div>
    </div>
</div>
<!-- Hero -->
<!-- Hero mobile -->
<div class="p-5 text-center bg-image rounded-3 d-block d-md-none" style="
    background-image: url('/img/tfsu-hero-mobile.PNG');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="mask">
        <div class="d-flex justify-content-start align-items-start h-100">
            <div class="text-dark text-start">
                <h1 class="mb-3">Tyska för små upptäckare</h1>
                <h4 class="mb-3">Lär dig tyska</h4>
                <a class="btn btn-primary text-black mx-1" aria-label="Navigera till produktöversikt" asp-area="" asp-controller="Produkt" asp-action="Index">Kom igång</a>
            </div>
        </div>
    </div>
</div>

    <section class="container-lg p-5">
        <h2 class="pb-5">Våra produkter</h2>
        <div class="row">
    @foreach (var product in Model.Products.Take(3))
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                }
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                </div>
            </div>
        </div>
    }
    </div>
    <div class="text-center">
        <a class="btn btn-primary text-black mx-1" aria-label="Navigera till produktöversikt" asp-area="" asp-controller="Produkt" asp-action="Index">Fler produkter</a>
    </div>
    </section>


    <section class="container-lg secondary-bg p-5">
        <h2 class="pb-5">Om oss</h2>
        <div class="row">
            <div class="col-md-6">
                    <p>
                        Välkommen till Tyska för små upptäckare! Vi brinner för att göra inlärning rolig och interaktiv. Vårt mål är att inspirera barn att utforska det tyska språket genom kreativa och engagerande produkter. Tillsammans med er skapar vi en värld där språk och kultur blir en naturlig del av vardagen.
                    </p>
                <div class="text-center pb-3">
                    <a class="btn btn-primary text-black mx-1" aria-label="Mer om TFSU" asp-area="" asp-controller="OmOss" asp-action="Index">Om TFSU</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/img/tfsu-omoss.jpg" alt="Vårt team" />
            </div>   
        </div>
    
    </section>

<section class="container my-5">
    <h2 class="pb-5">Kontakta oss</h2>
    <div class="row">
        <div class="col-md-6">
            <p>
                Har du frågor, funderingar eller behöver hjälp? Vi ser fram emot att höra från dig! Fyll i formuläret nedan så återkommer vi så snart som möjligt.
            </p>
        </div>
        <div class="col-md-6">

            @using (Html.BeginForm("SendContact", "Home", FormMethod.Post))
            {
                <div class="mb-3">
                    @Html.LabelFor(m => m.Contact.Name, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Contact.Name, new { @class = "form-control" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.Contact.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Contact.Email, new { @class = "form-control" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.Contact.Message, new { @class = "form-label" })
                    @Html.TextAreaFor(m => m.Contact.Message, new { @class = "form-control", rows = 5 })
                </div>
                <div class="text-center">
                    <button type="submit" aria-label="Skicka din fråga" class="btn btn-primary">Skicka din fråga</button>
                </div>
            }
        </div>
    </div>
</section>


<section class="container-lg secondary-bg p-5">
    <h2 class="pb-5">Testa produkter gratis</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till 1 2 3" asp-area="" asp-controller="Testa" asp-action="EttTvaTre"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror ett två tre" /></a>
                <div>
                    <h5 class="text-center">Siffror 1 2 3</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till 10 20 30" asp-area="" asp-controller="Testa" asp-action="Tiotal"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror tiotal" /></a>
                <div>
                    <h5 class="text-center">Siffror tiotal</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till 100 200 300" asp-area="" asp-controller="Testa" asp-action="Hundratal"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror hundratal" /></a>
                <div>
                    <h5 class="text-center">Siffror hundratal</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till abc" asp-area="" asp-controller="Testa" asp-action="Abc"><img src="~/img/tfsu-abcs.webp" class="card-img-top" alt="Lär dig abc" /></a>
                <div>
                    <h5 class="text-center">Lär dig abc</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till djur" asp-area="" asp-controller="Testa" asp-action="Djur"><img src="~/img/tfsu-djurgrid.webp" class="card-img-top" alt="Djur" /></a>
                <div>
                    <h5 class="text-center">Djuren och deras ljud</h5>
                </div>
            </div>
        </div>
        <div class="text-center pb-3">
            <a class="btn btn-primary text-black mx-1" aria-label="Mer om TFSU" asp-area="" asp-controller="Testa" asp-action="Index">Mer info</a>
        </div>
    </div>
</section>
